<section class="about-section container">
  <svg class="about-icon" width="48" height="48">
    <use href="../img/sprite.svg#verified"></use>
  </svg>

  <div class="about-wrapper">
    <div class="about-text">
      <h2 class="about-title" id="about">
        Empowering educators and students through innovative educational trends
        and insights.
      </h2>
      <p class="about-description">
        The Educational Conference 2025 aims to foster collaboration and
        knowledge sharing among educators, students, and researchers. Attendees
        will gain valuable insights into modern teaching methodologies and
        educational technologies that can enhance their practices.
      </p>
    </div>

    <img
      class="about-image"
      srcset="../img/imagesgroup/mangirl@2x.jpg 2x"
      src="../img/imagesgroup/mangirl.jpg"
      alt="Two smiling educators engaged in a discussion, reviewing information on a tablet and handwritten notes."
      width="335"
      height="357"
    />
  </div>
</section>
