<footer class="footer-class">
  <div class="container-foot">
    <a href="./header.html">
      <svg class="footer-logo" width="189" height="44">
        <use href="../img/sprite.svg#Logo"></use>
      </svg>
    </a>
    <ul class="footer-list">
      <li class="footer-navi"><a href="./header.html">Home</a></li>
      <li class="footer-navi"><a href="./hero.html">About Us</a></li>
      <li class="footer-navi"><a href="./speakers.html">Speakers</a></li>
      <li class="footer-navi"><a href="./schedule.html">Schedule</a></li>
      <li class="footer-navi"><a href="./gallery.html">Gallery</a></li>
      <li class="footer-navi">
        <a href="./testimonials.html">Testimonials</a>
      </li>
    </ul>

    <div class="commit-box">
      <p class="footer-p">
        © 2025 Educational Conference. All rights reserved.
      </p>
    </div>
  </div>
</footer>
