<header class="header-title" id="header">
  <div class="container header-container">
    <nav class="header-page-nav">
      <a class="header-logo">
        <svg class="header-svg" width="164" height="71">
          <use href="./img/sprite.svg#Logo" />
        </svg>
      </a>
      <ul class="header-page">
        <li class="header-list">
          <a class="header-user-nav">Home</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav" href="#about">About Us</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav" href="#speakers">Speakers</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav" href="#schedule">Schedule</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav" href="#gallery">Gallery</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
    <button class="header-button" type="button">
      <a href="#register">Register Now</a>
    </button>
    <button class="header-button-menu" type="button">
      <svg class="header-burger-svg" width="24" height="24">
        <use href="../img/sprite.svg#menu" />
      </svg>
    </button>
  </div>
</header>
