<header class="header-title" id="header">
  <div class="container header-container">
    <nav class="header-page-nav">
      <a class="header-logo">
        <svg class="header-svg" width="164" height="71">
          <use href="../img/sprite.svg#Logo" />
        </svg>
      </a>
      <ul class="header-page">
        <li class="header-list">
          <a class="header-user-nav">Home</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav">About Us</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav">Speakers</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav">Schedule</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav">Gallery</a>
        </li>
        <li class="header-list">
          <a class="header-user-nav">Testimonials</a>
        </li>
      </ul>
    </nav>
    <button class="header-button" type="button">Register Now</button>
    <button class="header-button-burger" type="button">
      <svg class="header-burger-svg" width="24" height="24">
        <use href="../img/sprite.svg#menu" />
      </svg>
    </button>
  </div>
</header>
<div class="menu-drive is-open">
  <div class="menu-drive-mobile container">
    <nav class="header-page-nav">
      <a class="header-logo">
        <svg class="header-svg" width="164" height="71">
          <use href="../img/sprite.svg#Logo" />
        </svg>
      </a>
      <button type="button" class="button-close">
        <svg class="svg-burger" width="24" height="24">
          <use href="../img/sprite.svg#close"></use>
        </svg>
      </button>
      <ul class="header-burger">
        <li class="header-burger-list">
          <a class="header-user-nav">Home</a>
        </li>
        <li class="header-burger-list">
          <a class="header-user-nav">About Us</a>
        </li>
        <li class="header-burger-list">
          <a class="header-user-nav">Speakers</a>
        </li>
        <li class="header-burger-list">
          <a class="header-user-nav">Schedule</a>
        </li>
        <li class="header-burger-list">
          <a class="header-user-nav">Gallery</a>
        </li>
        <li class="header-burger-list">
          <a class="header-user-nav">Testimonials</a>
        </li>
      </ul>
    </nav>
    <button class="header-button-burger" type="button">Register Now</button>
  </div>
</div>
