<div class="register-modal-background">
    <div class="register-modal">
        <button class="register-modal__close-button">
            <svg class="register-modal-icon" width="24" height="24">
                <use href="./img/sprite.svg#close"></use>
            </svg>
        </button>
        <div class="register-modal-title-div">
            <img srcset="./imagesgroup/smilegirl.jpg 1x, ./imagesgroup/smilegirl@2x.jpg 2x"
                src="./imagesgroup/smilegirl.jpg" alt="" class="register-modal-img">
            <h2 class="register-modal-title">Success! You're registered.</h2>
            <p class="register-modal-paragraph">We've sent a confirmation to your email address. Please check your inbox
                (and your spam folder) to find your ticket and
                further instructions.
                <span class="register-modal-span">See you at the conference!</span>
            </p>
            <button class="register-modal-button">Clos</button>
        </div>
    </div>
</div>