<section id="schedule" class="schedule-hero">
  <div class="container schedule-container">
    <div class="schedule-block-hero">
      <h2 class="schedule-fonts-hero">Schedule</h2>
      <p class="schedule-fonts-paragraf">
        Explore our detailed schedule of presentations, topics, and speakers for
        the EduConf 2025.
      </p>
    </div>
    <div>
      <ul>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">8:00 AM</h3>
          <div>
            <h2>Opening Keynote</h2>
            <p>In-person</p>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">9:00 AM</h3>
          <div>
            <h2>Panel Discussion</h2>
            <p>In-person</p>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">10:00 AM</h3>
          <div>
            <h2>Future of Education</h2>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">11:00 AM</h3>
          <div>
            <h2>Innovations in AI</h2>
            <p>In-person</p>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">12:00 PM</h3>
          <div>
            <h2>Marketing Strategies</h2>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">1:00 PM</h3>
          <div>
            <h2>Design Thinking Workshop</h2>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">2:00 PM</h3>
          <div>
            <h2>Data Visualization Techniques</h2>
            <p>In-person</p>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">3:00 PM</h3>
          <div>
            <h2>Ethics in Technology</h2>
            <p>In-person</p>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">4:00 PM</h3>
          <div>
            <h2>Machine Learning Basics</h2>
            <p>In-person</p>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">5:00 PM</h3>
          <div>
            <h2>User Experience Design</h2>
            <p>Online</p>
          </div>
        </li>
        <li class="schedule-list-punkt">
          <h3 class="schedule-time">6:00 PM</h3>
          <div>
            <h2>Closing Keynote</h2>
            <p>In-person</p>
            <p>Online</p>
          </div>
        </li>
      </ul>
    </div>
    <button class="schedule-button" type="button">Register</button>
  </div>
</section>
