:root {
  --color-scheme-1-background: var(--color-white);
  --color-neutral-darkest: #03030a;
  --color-scheme-1-border: var(--color-neutral-darkest);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d9d9da;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b3b3b5;
  --color-neutral: #818184;
  --color-neutral-dark: #4e4e53;
  --color-neutral-darker: #1c1c22;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-white);
  --color-scheme-1-accent: var(--color-governor-bay);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(3, 3, 10, 0.05);
  --opacity-neutral-darkest-10: rgba(3, 3, 10, 0.1);
  --opacity-neutral-darkest-15: rgba(3, 3, 10, 0.15);
  --opacity-neutral-darkest-20: rgba(3, 3, 10, 0.2);
  --opacity-neutral-darkest-30: rgba(3, 3, 10, 0.3);
  --opacity-neutral-darkest-40: rgba(3, 3, 10, 0.4);
  --opacity-neutral-darkest-50: rgba(3, 3, 10, 0.5);
  --opacity-neutral-darkest-60: rgba(3, 3, 10, 0.6);
  --color-governor-bay-lightest: #eaecf9;
  --color-governor-bay-lighter: #d6d9f3;
  --color-governor-bay-light: #707cd6;
  --color-governor-bay: #3444c5;
  --color-governor-bay-dark: #29369d;
  --color-governor-bay-darker: #141b4e;
  --color-governor-bay-darkest: #0f143b;
  --color-scheme-2-text: var(--color-white);
  --color-scheme-2-background: var(--color-neutral-darkest);
  --color-scheme-2-border: var(--color-white);
  --color-scheme-2-accent: var(--color-white);
  --color-scheme-2-foreground: var(--color-neutral-darkest);
  --color-red: #9c0000;
}

:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Teachers', sans-serif;
}
