@media screen {
  .container-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foot-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer-class {
    padding: 48px 0;
    background-color: #03030a;
  }

  .footer-logo {
    fill: white;
    margin-bottom: 16px;
  }

  .footer-navi {
    font-family: 'Inter Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: white;
  }
  .footer-p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: white;
    padding: 32px 5px;
  }
  .footer-list {
    display: flex;
    gap: 32px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 80px;
  }

  .commit-box {
    max-width: 375px;
    border-top: 2px solid;
    color: white;
    display: flex;
    justify-content: center;
  }

  .foter-link:hover {
    text-decoration: underline;
  }

  .footer-link:focus {
    text-decoration: underline;
  }

  a:active {
    color: #3444c5;
    text-decoration: underline;
  }
  .footer-link:active {
    color: #3444c5;
    text-decoration: underline;
  }

  .footer-link:disabled {
    color: #03030a;
    opacity: 0.3;
  }
}

@media screen and (min-width: 768px) {
  .container-foot {
    margin: 0;
  }

  .footer-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .commit-box {
    min-width: 100%;
  }

  .footer-p {
    font-size: 14px;
  }

  .footer-class {
    padding: 48px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-p {
    font-size: 14px;
  }
  .commit-box {
    width: 1440px;
  }
  .footer-class {
    padding: 80px 64px;
  }
}
