@media screen and (min-width: 375px) {
  .register-container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .register-container {
    max-width: 768px;
    padding: 0 32px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .register-container {
    max-width: 1440px;
    padding: 0 64px;
  }
}

.register-section {
  padding: 64px 0;
}

@media screen and (min-width: 1440px) {
  .register-section {
    padding: 92px 0;
  }
}

.register-section__title {
  margin-bottom: 32px;
  max-width: 340px;
}

.register-title__heading {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .register-title__heading {
    font-size: 48px;
  }
}

.register-title__paragraph {
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--color-scheme-1-text);
}

.register-form__div-input {
  margin-bottom: 24px;
}

.register-form__label {
  display: block;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}

.register-form__input {
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px 12px;
  width: 335px;
  height: 48px;
  outline: none;
}

.register-form__input:hover,
.register-form__input:focus {
  border: 2px solid var(--color-scheme-1-accent);
}

@media screen and (min-width: 768px) {
  .register-form__input {
    width: 335px;
  }
}

@media screen and (min-width: 1440px) {
  .register-form__input {
    width: 640px;
  }
}

.register-form__input::placeholder {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--opacity-neutral-darkest-60);
}

.register-form__button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  border: 1px solid var(--color-governor-bay);
  border-radius: 6px;
  padding: 10px 24px;
  min-width: 335px;
  height: 44px;
  background: var(--color-governor-bay);
  margin-bottom: 24px;
}

.register-form__button:hover,
.register-form__button:focus {
  border: 1px solid var(--color-governor-bay);
  color: var(--color-scheme-1-text);
  background-color: #fff;
}

.register-form__button:active {
  border: 1px solid var(--color-governor-bay);
  color: var(--color-scheme-1-text);
  background-color: var(--color-governor-bay-lighter);
}

@media screen and (min-width: 768px) {
  .register-form__button {
    min-width: 192px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .register-section__img {
    width: 340px;
    height: 547px;
  }
}

@media screen and (min-width: 1440px) {
  .register-section__img {
    width: 640px;
    height: 547px;
  }
}
