@media screen {
  .testimonials {
    padding: 64px 0;
  }

  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .testimonials .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
  }

  .testimonials-text {
    margin-bottom: 40px;
  }

  .testimonials-review-item-text {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .testimonials-review-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .testimonials-review-person-img {
    margin-bottom: 16px;
  }

  .testimonials-review-person-name {
    font-weight: 600;
    font-size: 16px;
  }

  .testimonials-review-person-discription {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .testimonials .container {
    justify-content: start;
    align-items: start;
  }

  .testimonials-review-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .testimonials-review-item {
    width: calc((100% - 64px) / 3);
  }
}

@media only screen and (min-width: 1440px) {
  .testimonials {
    padding: 92px 0;
  }

  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .testimonials-title {
    font-size: 48px;
  }

  .testimonials-text {
    max-width: 520px;
  }
}
